/* make icon labels bolder (inspired by Desktop Folder) */
XfdesktopIconView.view {
    font-family: 'Inter';
    font-weight: bold;
    text-shadow: 0 0 3px #777, 0 1px 2px #000;
}

/* remove icons from context menu (to look consistent with Files) */
.background.popup.csd image {
    opacity: 0;
}

/* rounded selection box (disabled because doesn't render correctly)
XfdesktopIconView {
    border-radius: 5px;
} */
