[Desktop Entry]
Name=eOS-xfdesktop4
Comment=Runs xfdesktop4 with Wallpaper Update script
Exec=/usr/local/xfdesktopWU.sh
Icon=preferences-desktop-wallpaper
Type=Application
X-GNOME-Autostart-enabled=true
