[Desktop Entry]
Name=Run xfdesktop4 with wallpaper update script
Comment=/usr/local/xfdesktopWU.sh
Exec=/usr/local/xfdesktopWU.sh
Icon=preferences-desktop-wallpaper
Type=Application
X-GNOME-Autostart-enabled=true
